@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'oswald';
    margin: 0;
}
.navBar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;

}

.navBar img {
    height: 5vh;
}

a {
    text-decoration: none;
}

.navBar a{
    font-size: 1.2rem;
    color: #000000;
    margin: 3vh;
}


.navBar .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.caminhos {
    display: flex;
    justify-content: flex-start;
}


.caixa img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.texto p {
    font-size:2.5vh;
    margin: 5vh;
}
.logar {
    width: 100%;

}
.logar .container{
    display: flex;
    background-color: #e7e7e7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}

.logar .botao {
    background-color: #000000;
    width: 90px;
    height: 5vh;
    text-align: center;
    margin: 0;
}

.logar a {
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 25px;
}


.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vh;
}

#icons {
    display: flex;
    flex-direction: row;
}

.ig img{
    width: 3vw;
}

.twt img {
    width: 3.5vw;
}

.redes img {
    margin: 9px;
}

.footer .container {
    width: 100%;
    height: 7vh;
    background: #000000;
    display: flex;
    justify-content: center;
  }

.footer p,a {
    padding-top: 20px;
    margin: 0;
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
}