@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'oswald';
    margin: 0;
}
.navBar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;

}

.navBar img {
    height: 5vh;
}

a {
    text-decoration: none;
}

.navBar a{
    font-size: 1.2rem;
    color: #000000;
    margin: 3vh;
}


.navBar .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.caminhos {
    display: flex;
    justify-content: flex-start;
}


.caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixas h2 {
    padding: 0;
    margin: 0;
}

.caixas p {
    width: 70%;
}

.caixas a {
    margin: 0;
    padding: 0;
}

.caixas .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo {
    margin: 100px;
}

.manicas {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.manicas img {
    width: 100%;
    margin-right: 30px;
    margin: 0;
    padding: 0;
}

.manicas {
    width: 50%;
    height: 36.9vh;
    border: 0.5px solid rgb(206, 206, 206);
    box-shadow: 2px 2px 3px rgb(248, 248, 248);

}

.titulo {
    text-align: center;
}


.conteudo {
    margin: 100px;
}

.b10 {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.b10 img {
    width: 100%;
    margin-right: 30px;
    margin: 0;
    padding: 0;
}

.b10 {
    width: 50%;
    height: 37.7vh;
    border: 0.5px solid rgb(206, 206, 206);
    box-shadow: 2px 2px 3px rgb(248, 248, 248);

}

.footer .container {
    width: 100%;
    height: 7vh;
    background: #000000;
    display: flex;
    justify-content: center;
  }

.footer p,a {
    padding-top: 20px;
    margin: 0;
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
}
