@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'oswald';
    margin: 0;
}
.navBar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;

}

.navBar img {
    height: 5vh;
}

a {
    text-decoration: none;
}

.navBar a{
    font-size: 1.2rem;
    color: #000000;
    margin: 3vh;
}


.navBar .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.caminhos {
    display: flex;
    justify-content: flex-start;
}


.capa img{
    width: 100%;
}

.capa {
    display: flex;
}

.quadrado {
    position: absolute;
    background-color: #2d597c;
    height: 35vh;
    width: 18vw;
    bottom: 3%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado p {
    color: #ffffff;
    font-weight: 800;
    font-size: 43px;
}


.header {
    margin-bottom: 200px;
}

.conteudo h1, p {
    color: rgb(0, 0, 0);
    font-size: 23px;
    margin-right: 5px;
}

.conheca {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
}

.conheca img {
    width: 25vw;
    height: 40vh;
    box-shadow: 2px 2px 4px black;
}

.conteudo {
    margin: 100px;
}

.surgiu {
    display: flex;
    margin-bottom: 50px;
    align-items: center;

}

.surgiu img {
    width: 25vw;
    height: 40vh;
    margin-right: 30px;
    box-shadow: 2px 2px 4px black;
    margin-bottom: 0;
}

.sobreMim {
    display: flex;
    align-items: center;

}

.sobreMim img{
    width: 25vw;
    height: 40vh;
    margin-left: 15px;
    box-shadow: 2px 2px 4px black;

}

.footer .container {
    width: 100%;
    height: 7vh;
    background: #000000;
    display: flex;
    justify-content: center;
  }

.footer p,a {
    padding-top: 20px;
    margin: 0;
    color: #ffffff;
    font-weight: 200;
    font-size: 15px;
}