@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'oswald';
    margin: 0;
    background-image: url('../assets/fundoTimes.png');
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    color: white;
}

#navBar {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navBar img {
    height: 18vh;
    
}

a {
    text-decoration: none;
}

h1 {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.finish button {
    border: 0;
    color: rgb(255, 255, 255);
    background-color: #132641;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 500;
    border-radius: 2px;
    width: 100px;
    height: 45px;
    cursor: pointer;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.finish button {
    text-align: center;
}

.answers button {
    border: 0;
    color: rgb(255, 255, 255);
    background-color: #263e5f;
    font-family: 'oswald';
    font-size: 20px;
    font-weight: 500;
    border-radius: 2px;
    width: 100%;
    height: 45px;
    cursor: pointer;
}

.question span {
    color: white;
}
